<%= form_with model: @user, url: password_reset_path(params[:id]), class: "mx-auto mt-lg-5 my-auto" do |f|  %>
  <h1 class="mt-lg-5 mb-5">
    <%= t(:update_your_password) %>
  </h1>
  <%= hidden_field_tag :email, @user.email %>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <%= f.submit t(:update) , class: "btn btn-primary" %>
<% end %>