<%= form_with url: password_resets_path, scope: "password_reset", class: "mx-auto mt-lg-5 my-auto" do |f|  %>
  <h1 class="mt-lg-5"><%= I18n.t(:password_reset_subject) %></h1>
  <div class="form-group">
    <%= f.label :email, t(:email) %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <%= f.submit t(:send_email), class: "mx-auto btn btn-primary" %>
<% end %>