<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <%= deck.cards.count %> <%= t :terms %> | <%= deck.user.name %>
    </div>
    <div class="card-body">
      <h3 class="card-text mb-5">
        <%= link_to deck.name, deck_path(deck) %>
      </h3>

      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to t(:study), study_session_path(deck.id), class: "btn btn-sm btn-outline-secondary" %>
        </div>
        <small class="text-muted">
          <%= "#{time_ago_in_words(deck.created_at)} #{t 'ago'} "%>
        </small>
      </div>
    </div>
  </div>
</div>