<%= form_with model: @user do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :locale %>
    <%= f.select :locale, [['English', nil], %w(Japan jp)], {}, {:class => 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <br>
    <%= f.file_field :image %>
  </div>
  <%= f.submit t("update"), class: "btn btn-lg btn-primary" %>
<% end %>

