<h3><%= t(:basic_settings) %></h3>
<hr/>
<div class="card bg-light">
  <div class="card-body">
    <%= form_with model: @user do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :locale, t(:locale) %>
        <%= f.select :locale, [['English', nil], %w(日本語 jp)], {}, {:class => 'form-control' } %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= f.label :new_cards_per_day %>
          <%= f.number_field :new_cards_per_day, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :old_cards_per_day %>
          <%= f.number_field :old_cards_per_day, class: "form-control" %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-9">
          <%= f.label :image, t(:image) %>
          <br>
          <button class="btn btn-secondary" id="uploadUserFile">
            <%= t(:upload_file) %>
          </button>
          <span id="uploadFileHelperText">
          <%= t(:no_file_chosen) %>
        </span>
          <div style="display: none">
            <%= f.file_field :image %>
          </div>
        </div>
        <div class="form-group col-md-3">
          <%= f.submit t("update"), class: "btn-lg btn-primary float-right mt-3" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h3 class="mt-lg-5">
  <%= t(:update_your_password) %>
</h3>
<hr/>
<div class="card bg-light ">
  <div class="card-body">
    <%= form_with url: password_change_create_path, class: "mx-auto my-auto" do |f|  %>
      <%= hidden_field_tag :id, current_user.id %>
      <div class="form-group">
        <%= f.label :current_password, t(:current_password) %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password, t(:new_password) %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, t(:password_confirmation) %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <%= f.submit t(:update) , class: "btn btn-primary" %>
    <% end %>
  </div>
</div>