<% if decks.count != 0 %>
  <table class="table table-bordered mt-3 bg-light">
    <thead>
    <tr>
      <th scope="col"><%= t :set_name %></th>
      <th scope="col"><%= t :number_of_cards %></th>
      <th scope="col"><%= t :created_at %></th>
    </tr>
    </thead>
    <tbody>
    <%= render decks %>
    </tbody>
  </table>
<% else %><tr>
  <p class="mt-3">
    <%= t :no_decks_found %>
  </p>
</tr>
<% end %>
