<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height: 4rem">
  <div class="container">
    <%= link_to "iAnki", root_url, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ml-5">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder=<%= t :search %> aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
              <%= t :search %>
            </button>
          </form>
        </li>
        <li class="ml-3">
          <a class="nav-link" href="#">
            <i class="fas fa-plus"></i>
            <%= t :create %>
          </a>
        </li>
      </ul>
      <nav class="nav">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
          <%= t :login %>
        </button>
        <%= link_to t(:sign_up), sign_up_path, class: "nav-link" %>
      </nav>
    </div>
  </div>
</nav>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>