<% if current_user %>
  <div class="col-3">
    <% if current_page?(controller: "search", action: "index") %>
      <div class="list-group mb-5">
        <%= active_link_to "Sets", search_path(query: params[:query]), class: "list-group-item list-group-item-action" %>
        <%= active_link_to "Users", search_path(query: params[:query], :type => "users"), class: "list-group-item list-group-item-action" %>
        <%= active_link_to "Cards", search_path(query: params[:query], :type => "cards"), class: "list-group-item list-group-item-action" %>
      </div>
    <% end %>
    <div class="list-group">
      <%= active_link_to t(:home), home_path, class: "list-group-item list-group-item-action" %>
      <%= active_link_to t(:settings), edit_user_path(current_user), class: "list-group-item list-group-item-action" %>
    </div>
  </div>
<% end %>
