<div class="all-learn-area" style="<%= 'display: none' if @card %>">
  <div class="card text-center" style="height: 300px">
    <div class="card-header">
      <%= t "congratulations" %>
    </div>
    <div class="card-body mt-lg-5">
      <h5 class="card-title">
        <%= t :have_learnt_all %>
      </h5>
      <%= link_to t(:back_to_home), home_path, class: "btn-lg btn-primary" %>
    </div>
  </div>
</div>

<% if @card %>
  <div class="flash-card-area">
    <%= render "shared/flip_card" %>
    <div class="row justify-content-center">
      <%= form_with url: repeat_study_session_path(@deck), method: "patch", class: "mt-3" do |f| %>
        <%= hidden_field_tag(:card_id, @card.id) %>
        <table class="table table-center">
          <tbody>
          <tr>
            <td><%= t(:later) %> (<%= t(:today) %>) </td>
            <td><%= t(:new_card) %></td>
            <td><%= t(:review_card) %></td>
            <td><%= t(:repeat) %> (<%= @card.get_interval(1) %> <%= t('datetime.prompts.day') %> ) </td>
          </tr>
          <tr>
            <td><%= f.button "Again", class: "btn-lg btn-secondary ml-2", name: "commit", value: "0" %></td>
            <td id="unlearnCardInfo"><%= @deck.cards.learn_today.unlearn_card.count %></td>
            <td id="reviewTodayInfo"><%= @deck.cards.learn_today.review_today.count %></td>
            <td><%= f.button "Good", class: "btn-lg btn-primary ml-2", name: "commit", value: "1" %></td>
          </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>