<%= deck_form.fields_for :cards do |f| %>
  <div class="form-group">
    <div class="row card-form-row" id=<%= f.index %>>
      <div class="col-6">
        <%= f.text_field :question, class: "form-control input-question", placeholder: "Question", autocomplete: "off" %>
      </div>
      <div class="col-5">
        <%= f.text_field :answer, class: "form-control input-answer", placeholder: "Answer", autocomplete: "off" %>
        <div class="suggest-answer" style="display: none;">

        </div>
      </div>
      <div class="col-1 float-right">
        <%= f.hidden_field :_destroy %>
        <button class="btn btn-danger btn-sm deleteRow">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
<% end %>
