<%= form_with model: @deck, remote: true do |f| %>
  <% @deck_form = f %>
  <div class="form-group mt-3" id="firstRow">
    <div class="row">
      <div class="col-4 mb-3">
        <%= f.text_field :name, class: "bottom-border-input", placeholder: t("name") %>
      </div>
      <div class="col-2">
        <%= f.select :is_public, [[t(:public), true], [t(:only_me), false ]], {}, {:class => 'form-control' } %>
      </div>
      <div class="col-3">
        <button class="btn btn-primary" id="importCSV">
          <%= t(:import_csv) %>
        </button>
      </div>
    </div>
  </div>
  <% if @deck.persisted? %>
    <%= render partial: "cards/card_form", locals: {deck_form: f} %>
  <% else %>
    <% 5.times do %>
      <%= render partial: "cards/card_form", locals: {deck_form: f} %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col">
      <%= f.submit nil, class: "btn btn-primary" %>
      <button class="btn-secondary btn" id="addCard">
        <%= t "add" %>
      </button>
    </div>
  </div>
<% end %>


<div style="display: none;">
  <%= form_with(url: import_decks_path, multipart: true, html: {id: "uploadFile"}) do |f| %>
    <div class="input-group">
      <div class="custom-file">
        <%= f.file_field :file, class: "custom-file-input", accept: 'text/csv' %>
        <%= f.label :file, "Import csv file", class: "custom-file-label" %>
      </div>
    </div>
  <% end %>
</div>

<div style="display: none;">
  <%= form_with(url: cards_search_path, html: {id: "searchKeyword"}) do |f| %>
    <%= f.text_field :keyword %>
    <%= f.number_field :id, id: "cardRowId" %>
  <% end %>
</div>



