<%= form_with model: @deck, local: true do |f| %>
  <% @deck_form = f %>
  <div class="form-group mt-3" id="firstRow">
    <div class="row">
      <div class="col-6 mb-3">
        <%= f.text_field :name, class: "bottom-border-input", placeholder: t("name") %>
      </div>
      <div class="col-6">
        <button class="btn btn-primary" id="importCSV">Import CSV file</button>
      </div>
    </div>
  </div>
  <% if @deck.persisted? %>
    <%= render partial: "cards/card_form", locals: {deck_form: f} %>
  <% else %>
    <% 5.times do %>
      <%= render partial: "cards/card_form", locals: {deck_form: f} %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col">
      <%= f.submit nil, class: "btn btn-primary" %>
      <button class="btn-secondary btn" id="addCard">
        <%= t "add" %>
      </button>
    </div>
  </div>
<% end %>


<div style="display: none;">
  <%= form_with(url: import_decks_path, multipart: true, html: {id: "uploadFile"}) do |f| %>
    <div class="input-group">
      <div class="custom-file">
        <%= f.file_field :file, class: "custom-file-input" %>
        <%= f.label :file, "Import csv file", class: "custom-file-label" %>
      </div>
    </div>
  <% end %>
</div>

<div style="display: none;">
  <%= form_with(url: cards_search_path, html: {id: "searchKeyword"} ) do |f| %>
    <%= f.text_field :keyword %>
    <%= f.number_field :id, id: "cardRowId" %>
  <% end %>
</div>

<script>
    $(".input-answer").one('focus', function(e) {
        let inputWord = $(this).closest(".card-form-row").find(".input-question").val();
        let suggestAnswerElement = $(this).siblings(".suggest-answer");
        $("#keyword").val(inputWord);
        $("#cardRowId").val($(this).closest(".card-form-row").attr('id'));
        document.getElementById("searchKeyword").dispatchEvent(new Event('submit', {bubbles: true}));
    });
</script>


