<h3>Create a new study set</h3>
<%= form_with model: @deck, local: true do |f| %>
  <div class="form-group mt-3">
    <div class="row">
      <div class="col-6 mb-3">
        <%= f.text_field :name, class: "bottom-border-input", placeholder: "Set name" %>
      </div>
    </div>
  </div>
  <%= render partial: "card_form", locals: { deck_form: f } %>
  <%= render partial: "card_form", locals: { deck_form: f } %>
  <%= render partial: "card_form", locals: { deck_form: f } %>
  <%= render partial: "card_form", locals: { deck_form: f } %>

  <%= f.submit "Create set", class: "btn btn-primary" %>
<% end %>