<h1 class="display-4">
  <%= @deck.name %>
</h1>
<%= link_to t("study_this_set"), study_session_path(@deck) %>
<hr class="my-4">

<h3 class="mt-5">
  <%= t("terms_in_this_set") %>
</h3>
<table class="table mt-3">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col"><%= t "question" %></th>
    <th scope="col"><%= t "answer" %></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @deck.cards.each_with_index  do |card, index| %>
    <tr>
      <th scope="row"><%= index +1 %></th>
      <td><%= card.question %></td>
      <td><%= card.answer %></td>
      <td>
        <button class="btn-sm btn-secondary">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn-sm btn-danger">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="mb-5">
<%= link_to t("edit_set"), edit_deck_path, class: "btn btn-primary"  %>
<%= link_to "Export CSV", deck_path(@deck, format: :csv ), class: "btn btn-secondary"  %>
</div>