<!DOCTYPE html>
<html>
  <head>
    <title>iAnki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-mutate-approach="sync"></script>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= render 'shared/login_modal' %>
  <div class="container mt-5 mb-5">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  </body>
</html>

