<!DOCTYPE html>
<html>
  <head>
    <title>iAnki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-mutate-approach="sync"></script>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height: 4rem">
      <div class="container">
        <%= link_to "iAnki", root_url, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-5">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder=<%= t :search %> aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                  <%= t :search %>
                </button>
              </form>
            </li>
            <li class="ml-3">
              <a class="nav-link" href="#">
                <i class="fas fa-plus"></i>
                <%= t :create %>
              </a>
            </li>
          </ul>
          <nav class="nav">
            <%= link_to t(:login), login_path, class: "nav-link" %>
            <%= link_to t(:sign_up), sign_up_path, class: "nav-link" %>
          </nav>
        </div>
      </div>
    </nav>
  </header>
  <div class="container mt-5 mb-5">
    <%= yield %>
  </div>
  </body>
</html>

<footer class="text-muted">
  <div class="container">
    <p class="float-right" style="font-size: 40px">
      <%= link_to '🇬🇧', root_url %>
      <%= link_to '🇯🇵', home_url(:jp) %>
    </p>
    <p>
      <%= t :footer_text %>
    </p>
  </div>
</footer>