<!DOCTYPE html>
<html>
  <head>
    <title>iAnki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-mutate-approach="sync"></script>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="height: 4rem">
      <div class="container">
        <a class="navbar-brand" href="#">iAnki</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-5">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
            </li>
            <li class="ml-3">
              <a class="nav-link" href="#">
                <i class="fas fa-plus"></i>
                Create
              </a>
            </li>
          </ul>
          <nav class="nav">
            <a class="nav-link active" href="#">Login</a>
            <a class="nav-link" href="#">Sign Up</a>
          </nav>
        </div>
      </div>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">EN</a>
      <a href="#">JP</a>
      <a href="#">VI</a>
    </p>
    <p>A website to help users study with flash card</p>
  </div>
</footer>