<!DOCTYPE html>
<html>
<head>
  <title>iAnki</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-mutate-approach="sync"></script>
</head>

<body>
<%= render 'shared/nav' %>
<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <%= link_to t(:home), home_path, class: "list-group-item list-group-item-action" %>
        <%= link_to t(:settings), current_user, class: "list-group-item list-group-item-action" %>
      </div>
    </div>
    <%= render 'sessions/login_modal' %>
    <%= render 'users/sign_up_modal' %>
    <div class="col-9">
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
</body>
</html>

